# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore Allure reports
allure-report/
allure-results/

# Ignore Android build files
*.apk
*.ap_ # Temporary app build files

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore test reports and logs
*.log
*.out
*.err

# Ignore any OS-specific or application-specific files
*.swp
*.swo
